# Test Related
test/
.nyc_output/
coverage/

# CI/CD Related
.github/

# Documentation
docs

# Build, Development Related
tsconfig.json
lib
node_modules

# DotFiles
.npmignore
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json
.mocharc.json
.nycrc.json
.npmrc
